@import url(https://fonts.googleapis.com/css?family=Onest:regular&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Onest;
  font-size: 1.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Onest;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 116.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  line-height: 110%;
  letter-spacing: 2%
}
.title span {
  color: #377de6
}
.images {
  position: relative;
  flex: 1 1 auto;
  max-width: 58.75rem;
  min-height: 100%
}
.images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.images::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 0;
  height: 0;
  border-bottom: none;
  border-top: 1em solid #12161c;
  border-left: 1em solid transparent
}
.item {
  box-shadow: 0 .25rem .25rem 0 rgba(0,0,0,.25);
  background: linear-gradient(45deg,#192230 0,#143762 25%,#0f478b 50%,#143762 75%,#192230 100%);
  line-height: 140%;
  letter-spacing: -1%;
  display: grid;
  gap: 1.25rem;
  align-items: center
}
.item h3 {
  max-width: 50rem;
  line-height: 110%;
  letter-spacing: 2%
}
.item p {
  max-width: 50rem;
  line-height: 140%;
  letter-spacing: -1%
}
.item--red {
  background: linear-gradient(45deg,#12161c 0,#670508 30%,#0a0e14 100%)
}
.item--red a,
.item--red h3 {
  color: #ff4a4a
}
.item--black {
  background: linear-gradient(198.78deg,#12161c 37.23%,rgba(3,119,255,0) 100%)
}
.item--black h3 {
  color: #377de5
}
.section__body {
  width: 100%;
  display: flex;
  box-shadow: 0 .25rem .25rem 0 rgba(0,0,0,.25);
  background: linear-gradient(45deg,#192230 0,#143762 25%,#0f478b 50%,#143762 75%,#192230 100%)
}
.section__content {
  max-width: 50rem;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  gap: 1.875rem
}
.section__logo {
  max-width: 10rem;
  flex: 1 1 100%
}
.section__logo img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%
}
.section__images::before {
  right: -.0625rem;
  top: -.0625rem
}
.section__title {
  text-align: center;
  padding-top: .625rem
}
.section__content {
  max-width: 56.25rem
}
.section--reverse .section__images::before {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  left: -.0625rem;
  top: -.0625rem
}
.item-section__item {
  max-width: 100%;
  line-height: 140%;
  letter-spacing: -1%
}
.contacts {
  width: 100%;
  height: 100%
}
.contacts__items {
  display: grid
}
.contacts__item {
  display: grid;
  gap: .253164557em
}
.contacts__item h4 {
  line-height: 110%;
  color: #377de5
}
.contacts__item a,
.contacts__item p {
  word-break: break-word;
  line-height: 140%
}
.items-block__item {
  transition: all .8s;
  opacity: 0;
  -webkit-transform: translateY(9.375rem);
  transform: translateY(9.375rem)
}
.watcher-view .items-block__item {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.item-section__body,
.items-block__items {
  display: flex;
  flex-wrap: wrap
}
.item-section__body > *,
.items-block__items > * {
  flex-grow: 1;
  flex-basis: 43.75rem
}
.page {
  background: #12161c
}
.page__advantages,
.page__benefits,
.page__career,
.page__enrollments,
.page__hero,
.page__submit-info {
  margin-bottom: 2.5rem
}
.submit-info__body {
  background: linear-gradient(225deg,#192230 0,#12161c 100%)
}
.submit-info__form {
  display: flex;
  flex-wrap: wrap
}
.submit-info__form > * {
  flex-grow: 1;
  flex-basis: 35rem
}
.submit-info__form button {
  min-width: 100%;
  background: linear-gradient(225deg,#192230 0,#12161c 100%);
  transition: all .3s
}
.submit-info__input-body {
  line-height: 140%;
  background: linear-gradient(225deg,#192230 0,#12161c 100%)
}
.submit-info__input-body input {
  padding: 1.25rem 0 1.25rem 0
}
.submit-info__input-body input::-webkit-input-placeholder {
  color: rgba(255,255,255,.4)
}
.submit-info__input-body input:-ms-input-placeholder {
  color: rgba(255,255,255,.4)
}
.submit-info__input-body input::-ms-input-placeholder {
  color: rgba(255,255,255,.4)
}
.submit-info__input-body input::placeholder {
  color: rgba(255,255,255,.4)
}
.submit-info__input-body label {
  color: #fff
}
.submit-info__input-body label:not(:last-child) {
  margin-bottom: 1.25rem
}
.submit-info__input-body textarea {
  resize: vertical
}
.copi__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem
}
@media (min-width:36.875em) {
  .submit-info__form > * {
    flex-shrink: 0
  }
}
@media (min-width:45.625em) {
  .item-section__body > *,
  .items-block__items > * {
    flex-shrink: 0
  }
}
@media (min-width:47.99875em) {
  .contacts {
    padding: 3.75rem;
    background: linear-gradient(198.78deg,#12161c 37.23%,rgba(3,119,255,0) 100%)
  }
  .items-block--red .items-block__body {
    background: linear-gradient(45deg,#12161c 0,#670508 25%,#192230 100%)
  }
}
@media (min-width:47.99875em) and (min-width:116.875em) {
  .items-block--red .items-block__body {
    padding: 2.5rem
  }
}
@media (min-width:61.99875em) {
  .images {
    flex: 0 1 auto
  }
  .images::before {
    top: auto;
    bottom: -.0625rem;
    border-top: none;
    border-bottom: 1em solid #12161c
  }
  .section__images {
    flex: 0 1 auto
  }
  .section__images::before {
    top: auto;
    bottom: -.0625rem;
    border-top: none
  }
  .section--reverse .section__images {
    flex: 0 1 auto
  }
  .section--reverse .section__images::before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: auto;
    bottom: -.0625rem;
    border-top: none
  }
}
@media (min-width:116.875em) {
  .title {
    font-size: 4.9375rem
  }
  .images::before {
    font-size: 23rem
  }
  .item {
    font-size: 1.875rem
  }
  .item {
    padding: 3.75rem
  }
  .item h3 {
    font-size: 4.9375rem
  }
  .item p {
    font-size: 1.875rem
  }
  .section__container {
    gap: 2.5rem
  }
  .section__body:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .section__content {
    padding: 3.75rem
  }
  .section__title:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .section__content {
    padding: 2.5rem
  }
  .item-section__item {
    font-size: 1.875rem
  }
  .item-section__item {
    padding: 3.75rem
  }
  .contacts__items {
    gap: 3.125rem
  }
  .contacts__item {
    font-size: 4.9375rem
  }
  .contacts__item a,
  .contacts__item p {
    font-size: 1.875rem
  }
  .items-block__title:not(:last-child) {
    margin-bottom: 4.375rem
  }
  .items-block--red .items-block__body {
    padding-top: 3.125rem
  }
  .item-section__body,
  .items-block__items {
    gap: 1.25rem
  }
  .item-section__body,
  .items-block__items {
    gap: 2.5rem
  }
  .submit-info__body {
    padding: 2.5rem
  }
  .submit-info__title:not(:last-child) {
    margin-bottom: 4.375rem
  }
  .submit-info__form {
    gap: 2.5rem
  }
  .submit-info__form button {
    font-size: 4.9375rem
  }
  .submit-info__form button {
    padding: 3.75rem
  }
  .submit-info__input-body {
    font-size: 1.875rem
  }
  .submit-info__input-body {
    padding: 3.75rem
  }
  .copi {
    padding-top: 9.375rem
  }
  .copi {
    padding-bottom: 9.375rem
  }
  .copi__container a {
    font-size: 1.875rem
  }
}
@media (min-width:115em) {
  .item-section__body > *,
  .items-block__items > * {
    max-width: 100%
  }
}
@media (max-width:20em) {
  .title {
    font-size: 2.1875rem
  }
  .images::before {
    font-size: 4.375rem
  }
  .item {
    font-size: 1.25rem
  }
  .item {
    padding: 1.25rem
  }
  .item h3 {
    font-size: 1.875rem
  }
  .item p {
    font-size: 1rem
  }
  .section__container {
    gap: 1.25rem
  }
  .section__body:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .section__content {
    padding: .0000000625rem
  }
  .section__title:not(:last-child) {
    margin-bottom: .9375rem
  }
  .section__content {
    padding: 1.25rem
  }
  .item-section__item {
    font-size: 1.25rem
  }
  .item-section__item {
    padding: 1.25rem
  }
  .contacts__items {
    gap: 1.25rem
  }
  .contacts__item {
    font-size: 1.875rem
  }
  .contacts__item a,
  .contacts__item p {
    font-size: 1.25rem
  }
  .items-block__title:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .items-block--red .items-block__body {
    padding-top: 1.5625rem
  }
  .item-section__body,
  .items-block__items {
    gap: .9375rem
  }
  .item-section__body,
  .items-block__items {
    gap: 1.25rem
  }
  .submit-info__body {
    padding: 1.25rem
  }
  .submit-info__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .submit-info__form {
    gap: .9375rem
  }
  .submit-info__form button {
    font-size: 1.25rem
  }
  .submit-info__form button {
    padding: 1.25rem
  }
  .submit-info__input-body {
    font-size: 1.25rem
  }
  .submit-info__input-body {
    padding: 1.25rem
  }
  .copi {
    padding-top: 4.375rem
  }
  .copi {
    padding-bottom: 4.375rem
  }
  .copi__container a {
    font-size: 1rem
  }
}
@media (max-width:61.99875em) {
  .section__body {
    flex-wrap: wrap;
    flex-direction: column-reverse
  }
}
@media (max-width:47.99875em) {
  .section__content {
    background: linear-gradient(45deg,#192230 0,#143762 25%,#0f478b 50%,#143762 75%,#192230 100%)
  }
  .section--reverse .section__body {
    flex-direction: column
  }
  .page__advantages,
  .page__benefits,
  .page__career,
  .page__enrollments,
  .page__hero,
  .page__submit-info {
    margin-bottom: 1.5625rem
  }
}
@media (min-width:20em) and (max-width:116.875em) {
  @supports (font-size:clamp(2.1875rem ,1.6197580645rem + 2.8387096774vw ,4.9375rem)) {
    .title {
      font-size: clamp(2.1875rem ,1.6197580645rem + 2.8387096774vw ,4.9375rem)
    }
  }
  @supports not (font-size:clamp(2.1875rem ,1.6197580645rem + 2.8387096774vw ,4.9375rem)) {
    .title {
      font-size: calc(2.1875rem + 2.75 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (font-size:clamp(4.375rem ,0.5298387097rem + 19.2258064516vw ,23rem)) {
    .images::before {
      font-size: clamp(4.375rem ,.5298387097rem + 19.2258064516vw ,23rem)
    }
  }
  @supports not (font-size:clamp(4.375rem ,0.5298387097rem + 19.2258064516vw ,23rem)) {
    .images::before {
      font-size: calc(4.375rem + 18.625 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (font-size:clamp(1.25rem ,1.1209677419rem + 0.6451612903vw ,1.875rem)) {
    .item {
      font-size: clamp(1.25rem ,1.1209677419rem + .6451612903vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,1.1209677419rem + 0.6451612903vw ,1.875rem)) {
    .item {
      font-size: calc(1.25rem + .625 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding:clamp(1.25rem ,0.7338709677rem + 2.5806451613vw ,3.75rem)) {
    .item {
      padding: clamp(1.25rem ,.7338709677rem + 2.5806451613vw ,3.75rem)
    }
  }
  @supports not (padding:clamp(1.25rem ,0.7338709677rem + 2.5806451613vw ,3.75rem)) {
    .item {
      padding: calc(1.25rem + 2.5 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (font-size:clamp(1.875rem ,1.2427419355rem + 3.1612903226vw ,4.9375rem)) {
    .item h3 {
      font-size: clamp(1.875rem ,1.2427419355rem + 3.1612903226vw ,4.9375rem)
    }
  }
  @supports not (font-size:clamp(1.875rem ,1.2427419355rem + 3.1612903226vw ,4.9375rem)) {
    .item h3 {
      font-size: calc(1.875rem + 3.0625 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (font-size:clamp(1rem ,0.8193548387rem + 0.9032258065vw ,1.875rem)) {
    .item p {
      font-size: clamp(1rem ,.8193548387rem + .9032258065vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.8193548387rem + 0.9032258065vw ,1.875rem)) {
    .item p {
      font-size: calc(1rem + .875 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (gap:clamp(1.25rem ,0.9919354839rem + 1.2903225806vw ,2.5rem)) {
    .section__container {
      gap: clamp(1.25rem ,.9919354839rem + 1.2903225806vw ,2.5rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,0.9919354839rem + 1.2903225806vw ,2.5rem)) {
    .section__container {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,0.9919354839rem + 1.2903225806vw ,2.5rem)) {
    .section__body:not(:last-child) {
      margin-bottom: clamp(1.25rem ,.9919354839rem + 1.2903225806vw ,2.5rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,0.9919354839rem + 1.2903225806vw ,2.5rem)) {
    .section__body:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding:clamp(0.0000000625rem ,-0.774193473rem + 3.8709676774vw ,3.75rem)) {
    .section__content {
      padding: clamp(.0000000625rem ,-.774193473rem + 3.8709676774vw ,3.75rem)
    }
  }
  @supports not (padding:clamp(0.0000000625rem ,-0.774193473rem + 3.8709676774vw ,3.75rem)) {
    .section__content {
      padding: calc(.0000000625rem + 3.7499999375 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (margin-bottom:clamp(0.9375rem ,0.7439516129rem + 0.9677419355vw ,1.875rem)) {
    .section__title:not(:last-child) {
      margin-bottom: clamp(.9375rem ,.7439516129rem + .9677419355vw ,1.875rem)
    }
  }
  @supports not (margin-bottom:clamp(0.9375rem ,0.7439516129rem + 0.9677419355vw ,1.875rem)) {
    .section__title:not(:last-child) {
      margin-bottom: calc(.9375rem + .9375 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding:clamp(1.25rem ,0.9919354839rem + 1.2903225806vw ,2.5rem)) {
    .section__content {
      padding: clamp(1.25rem ,.9919354839rem + 1.2903225806vw ,2.5rem)
    }
  }
  @supports not (padding:clamp(1.25rem ,0.9919354839rem + 1.2903225806vw ,2.5rem)) {
    .section__content {
      padding: calc(1.25rem + 1.25 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (font-size:clamp(1.25rem ,1.1209677419rem + 0.6451612903vw ,1.875rem)) {
    .item-section__item {
      font-size: clamp(1.25rem ,1.1209677419rem + .6451612903vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,1.1209677419rem + 0.6451612903vw ,1.875rem)) {
    .item-section__item {
      font-size: calc(1.25rem + .625 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding:clamp(1.25rem ,0.7338709677rem + 2.5806451613vw ,3.75rem)) {
    .item-section__item {
      padding: clamp(1.25rem ,.7338709677rem + 2.5806451613vw ,3.75rem)
    }
  }
  @supports not (padding:clamp(1.25rem ,0.7338709677rem + 2.5806451613vw ,3.75rem)) {
    .item-section__item {
      padding: calc(1.25rem + 2.5 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (gap:clamp(1.25rem ,0.8629032258rem + 1.935483871vw ,3.125rem)) {
    .contacts__items {
      gap: clamp(1.25rem ,.8629032258rem + 1.935483871vw ,3.125rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,0.8629032258rem + 1.935483871vw ,3.125rem)) {
    .contacts__items {
      gap: calc(1.25rem + 1.875 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (font-size:clamp(1.875rem ,1.2427419355rem + 3.1612903226vw ,4.9375rem)) {
    .contacts__item {
      font-size: clamp(1.875rem ,1.2427419355rem + 3.1612903226vw ,4.9375rem)
    }
  }
  @supports not (font-size:clamp(1.875rem ,1.2427419355rem + 3.1612903226vw ,4.9375rem)) {
    .contacts__item {
      font-size: calc(1.875rem + 3.0625 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (font-size:clamp(1.25rem ,1.1209677419rem + 0.6451612903vw ,1.875rem)) {
    .contacts__item a,
    .contacts__item p {
      font-size: clamp(1.25rem ,1.1209677419rem + .6451612903vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,1.1209677419rem + 0.6451612903vw ,1.875rem)) {
    .contacts__item a,
    .contacts__item p {
      font-size: calc(1.25rem + .625 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (margin-bottom:clamp(1.5625rem ,0.9818548387rem + 2.9032258065vw ,4.375rem)) {
    .items-block__title:not(:last-child) {
      margin-bottom: clamp(1.5625rem ,.9818548387rem + 2.9032258065vw ,4.375rem)
    }
  }
  @supports not (margin-bottom:clamp(1.5625rem ,0.9818548387rem + 2.9032258065vw ,4.375rem)) {
    .items-block__title:not(:last-child) {
      margin-bottom: calc(1.5625rem + 2.8125 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding-top:clamp(1.5625rem ,1.2399193548rem + 1.6129032258vw ,3.125rem)) {
    .items-block--red .items-block__body {
      padding-top: clamp(1.5625rem ,1.2399193548rem + 1.6129032258vw ,3.125rem)
    }
  }
  @supports not (padding-top:clamp(1.5625rem ,1.2399193548rem + 1.6129032258vw ,3.125rem)) {
    .items-block--red .items-block__body {
      padding-top: calc(1.5625rem + 1.5625 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (gap:clamp(0.9375rem ,0.872983871rem + 0.3225806452vw ,1.25rem)) {
    .item-section__body,
    .items-block__items {
      gap: clamp(.9375rem ,.872983871rem + .3225806452vw ,1.25rem)
    }
  }
  @supports not (gap:clamp(0.9375rem ,0.872983871rem + 0.3225806452vw ,1.25rem)) {
    .item-section__body,
    .items-block__items {
      gap: calc(.9375rem + .3125 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (gap:clamp(1.25rem ,0.9919354839rem + 1.2903225806vw ,2.5rem)) {
    .item-section__body,
    .items-block__items {
      gap: clamp(1.25rem ,.9919354839rem + 1.2903225806vw ,2.5rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,0.9919354839rem + 1.2903225806vw ,2.5rem)) {
    .item-section__body,
    .items-block__items {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding:clamp(1.25rem ,0.9919354839rem + 1.2903225806vw ,2.5rem)) {
    .submit-info__body {
      padding: clamp(1.25rem ,.9919354839rem + 1.2903225806vw ,2.5rem)
    }
  }
  @supports not (padding:clamp(1.25rem ,0.9919354839rem + 1.2903225806vw ,2.5rem)) {
    .submit-info__body {
      padding: calc(1.25rem + 1.25 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,0.6048387097rem + 3.2258064516vw ,4.375rem)) {
    .submit-info__title:not(:last-child) {
      margin-bottom: clamp(1.25rem ,.6048387097rem + 3.2258064516vw ,4.375rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,0.6048387097rem + 3.2258064516vw ,4.375rem)) {
    .submit-info__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 3.125 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (gap:clamp(0.9375rem ,0.6149193548rem + 1.6129032258vw ,2.5rem)) {
    .submit-info__form {
      gap: clamp(.9375rem ,.6149193548rem + 1.6129032258vw ,2.5rem)
    }
  }
  @supports not (gap:clamp(0.9375rem ,0.6149193548rem + 1.6129032258vw ,2.5rem)) {
    .submit-info__form {
      gap: calc(.9375rem + 1.5625 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (font-size:clamp(1.25rem ,0.4887096774rem + 3.8064516129vw ,4.9375rem)) {
    .submit-info__form button {
      font-size: clamp(1.25rem ,.4887096774rem + 3.8064516129vw ,4.9375rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,0.4887096774rem + 3.8064516129vw ,4.9375rem)) {
    .submit-info__form button {
      font-size: calc(1.25rem + 3.6875 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding:clamp(1.25rem ,0.7338709677rem + 2.5806451613vw ,3.75rem)) {
    .submit-info__form button {
      padding: clamp(1.25rem ,.7338709677rem + 2.5806451613vw ,3.75rem)
    }
  }
  @supports not (padding:clamp(1.25rem ,0.7338709677rem + 2.5806451613vw ,3.75rem)) {
    .submit-info__form button {
      padding: calc(1.25rem + 2.5 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (font-size:clamp(1.25rem ,1.1209677419rem + 0.6451612903vw ,1.875rem)) {
    .submit-info__input-body {
      font-size: clamp(1.25rem ,1.1209677419rem + .6451612903vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,1.1209677419rem + 0.6451612903vw ,1.875rem)) {
    .submit-info__input-body {
      font-size: calc(1.25rem + .625 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding:clamp(1.25rem ,0.7338709677rem + 2.5806451613vw ,3.75rem)) {
    .submit-info__input-body {
      padding: clamp(1.25rem ,.7338709677rem + 2.5806451613vw ,3.75rem)
    }
  }
  @supports not (padding:clamp(1.25rem ,0.7338709677rem + 2.5806451613vw ,3.75rem)) {
    .submit-info__input-body {
      padding: calc(1.25rem + 2.5 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding-top:clamp(4.375rem ,3.3427419355rem + 5.1612903226vw ,9.375rem)) {
    .copi {
      padding-top: clamp(4.375rem ,3.3427419355rem + 5.1612903226vw ,9.375rem)
    }
  }
  @supports not (padding-top:clamp(4.375rem ,3.3427419355rem + 5.1612903226vw ,9.375rem)) {
    .copi {
      padding-top: calc(4.375rem + 5 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding-bottom:clamp(4.375rem ,3.3427419355rem + 5.1612903226vw ,9.375rem)) {
    .copi {
      padding-bottom: clamp(4.375rem ,3.3427419355rem + 5.1612903226vw ,9.375rem)
    }
  }
  @supports not (padding-bottom:clamp(4.375rem ,3.3427419355rem + 5.1612903226vw ,9.375rem)) {
    .copi {
      padding-bottom: calc(4.375rem + 5 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (font-size:clamp(1rem ,0.8193548387rem + 0.9032258065vw ,1.875rem)) {
    .copi__container a {
      font-size: clamp(1rem ,.8193548387rem + .9032258065vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.8193548387rem + 0.9032258065vw ,1.875rem)) {
    .copi__container a {
      font-size: calc(1rem + .875 * (100vw - 20rem)/ 96.875)
    }
  }
}
@media (min-width:47.99875em) and (min-width:20em) and (max-width:116.875em) {
  @supports (padding:clamp(1.25rem ,0.9919354839rem + 1.2903225806vw ,2.5rem)) {
    .items-block--red .items-block__body {
      padding: clamp(1.25rem ,.9919354839rem + 1.2903225806vw ,2.5rem)
    }
  }
  @supports not (padding:clamp(1.25rem ,0.9919354839rem + 1.2903225806vw ,2.5rem)) {
    .items-block--red .items-block__body {
      padding: calc(1.25rem + 1.25 * (100vw - 20rem)/ 96.875)
    }
  }
}
@media (min-width:47.99875em) and (max-width:20em) {
  .items-block--red .items-block__body {
    padding: 1.25rem
  }
}
@media (any-hover:hover) {
  .item--red a:hover {
    text-decoration: underline
  }
  .submit-info__form button:hover {
    opacity: .5
  }
  .copi__container a:hover {
    text-decoration: underline
  }
}